/**
   color por defecto a no ser que lo
   especifique otro item
*/

body {
    color: blue;
}


/**
   en este caso "p" especifica el 
   color rojo y obvia el azul anterior
*/


body {
    background-color: #EFF8FB;
  }



/* Create 3 columnas */

.columnDer {
  float: right;
  width: 30%;
  text-align: center;
  padding-top: 30px;
  height: 230px; /* Should be removed. Only for demonstration */
  background-color: #ff6347;
}

.columnIzq {
  float: left;
  width: 70%;
  padding-top: 30px;
  height: 230px; /* Should be removed. Only for demonstration */
  background-color: #BDB76B;
}



h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: blue;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:100px;
    border:3px solid #666;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }